{% extends 'base.html.twig' %}

{% block title %} VIEW SYMFONY {% endblock %}

{% block body %}


    <h3> 
        <li>  <a href="{{ path('view_exo1') }}"> Exo1 </a> </li>
        <li>  <a href="{{ path('view_exo2') }}"> Exo2 </a> </li>    
        <li>  <a href="{{ path('view_exo2') }}"> Exo3 </a> </li>  
    
    </h3>

<h3> EXERCICE N1 </3>
<br>
<br>

{{ Nom}}
{{ Prenom}}



{% endblock %}
