{% extends "base.html.twig" %}
{% block title %}Liste des stagiaires{% endblock %}
{% block body %}
{% block h1 %} Liste des stagiaires de DWW2 : {% endblock %}
<br/><br/>
<ul>
<li> {{liste_prenom[0]}} </li>
<li> {{liste_prenom[1]}} </li>
<li> {{liste_prenom[2]}} </li>
<li> {{liste_prenom[3]}} </li>
<li> {{liste_prenom[4]}} </li>
<li> {{liste_prenom[5]}} </li>
<li> {{liste_prenom[6]}} </li>
<li> {{liste_prenom[7]}} </li>
<li> {{liste_prenom[8]}} </li>
</ul>
{% endblock %}