{% extends "base.html.twig" %}

{% block title %}
Liste des CATEGORIES
{% endblock %}

{% block body %}
{% block h1 %} 
{{ CategorieDeMesLivres_name  }}


Liste des CATEGORIES : 
{% endblock %}
<br/><br/>
<ul>
<li>{{ categorie[0] }} </li>
<li>{{ categorie[1] }} </li>
<li>{{ categorie[2] }} </li>
<li>{{ categorie[3] }} </li>
<li>{{ categorie[4] }} </li>
<li>{{ categorie[5] }} </li>
<li>{{ categorie[6] }} </li>

</ul>
{% endblock %}
