{% extends "base.html.twig" %}
{% block title %}
Liste des LOCATIONS
{% endblock %}

{% block body %}
{% block h1 %} 
Liste des LOCATIONS : 
{% endblock %}
<br/><br/>

{{ LaListeDesNomsDeMesLocataires_name   }}

<ul>
<li> {{liste_titre[0]}} </li>
<li> {{liste_titre [1]}} </li>
<li> {{liste_titre [2]}} </li>
<li> {{liste_titre [3]}} </li>
<li> {{liste_titre [4]}} </li>
<li> {{liste_titre [5]}} </li>
<li> {{liste_titre [6]}} </li>
<li> {{liste_titre [7]}} </li>
<li> {{liste_titre [8]}} </li>
</ul>
{% endblock %}
