{% extends 'base.html.twig' %}

{% block title %}
	Bien venu à la page de gestion des catégories!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>
			Bienvenu(e) dans la page de la gestion de mes catégories ! ✅</h1>
<br/><br/>
<hr/>
<br/>
<div id="menu" class="menu">
<ul>

<li> <a href="{{ path('new_categorie') }}">Veuillez ajouter une nouveelle categorie !</a></li> 

</ul>

</div>
		<table class="table">
			<tbody>
				{% for categorie in categories %}
					{# https://twig.symfony.com/doc/3.x/tags/for.html #}
					<tr>
						<td>{{ categorie.id }}
						</td>
						<td>{{ categorie.titre }}
						</td>
						<td>{{ categorie.resume }}</td>
<td>{{ categorie.date|date("d/m/Y") }}</td>

</tr>
				{% else %}
					<tr>
						<td colspan="5">Vous n'avez pas d'enregistrement!</td>
						<td></td>
					</tr>
				{% endfor %}}
			</tbody>
		</table>
        gg
	</div>
{% endblock %}
    