{% extends 'base.html.twig' %}

{% block body %}

    
{{ form_start(formUtilisateur) }}

Nom: {{ form_widget(formUtilisateur.nom) }}<br>
Prénom: {{ form_widget(formUtilisateur.prenom) }} <br>
Civilité: {{ form_widget(formUtilisateur.civilite) }} <br>
Datedenaissance: {{ form_widget(formUtilisateur.datedenaissance) }} <br>
Adresse: {{ form_widget(formUtilisateur.adresse) }} <br>
Email: {{ form_widget(formUtilisateur.email) }} <br>


<button type="submit" class="btn btn-success">envoyer</button>


      
    {{ form_end(formUtilisateur) }}
  {% endblock %}

