{% extends 'base.html.twig' %}

{% block title %}
Modifier un auteur :
{% endblock %}

{% block body %}
    
    
    <h1>
        Modifier un auteur :
        </h1>

{{ form_start(formAuteur) }}

Nom: {{ form_widget(formAuteur.nom) }}<br>
Prénom: {{ form_widget(formAuteur.prenom) }} <br>
Civilité: {{ form_widget(formAuteur.civilite) }} <br>
Email: {{ form_widget(formUtilisateur.email) }} <br>

<button type="submit" class="btn btn-success">envoyer</button>


      
    {{ form_end(formAuteur) }}
  {% endblock %}

