{% extends 'base.html.twig' %}

{% block title %}
	nouveau Livre !
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>
Veuillez ajouter un nouveau livre !
<hr/>
<br/>
<div id="menu" class="menu">
<ul>

</ul>
</div>
		<table class="table">

<thead>
<tr>
<th>id</th>
<th>date</th>
<th>titre</th>
<th>resume</th>
<th>contenu</th>
<th>commentaires</th>
</tr>
</thead>
                        <tbody>
				{% for livre in livre %}
					{# https://twig.symfony.com/doc/3.x/tags/for.html #}
					<tr>
<td>{{ livre.id }}</td>
<td>{{ livre.date|date("d/m/Y") }}</td>
<td>{{ livre.titre }}</td>
<td>{{ livre.hauteur }}</td>
<td>{{ livre.resume }}</td>
<td>{{ livre.contenu }}</td>
                    <td>{{ livre.commentaires }}</td>
                    </tr>
				{% endfor %}}
			</tbody>
		</table>
        
	</div>
{% endblock %}
