{% extends 'base.html.twig' %}

{% block title %}
	Une nouvelle location !
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>
			Veuillez enregistrer une nouvelle location ! ✅</h1>
<br/><br/>
<hr/>
<br/>
<div id="menu" class="menu">
<ul>

</ul>
</div>
		<table class="table">

<thead>
<tr>
<th>id</th>
<th>Date</th>
<th>Titre</th>
<th>categories</th>
<th>image</th>
<th>description</th>
<th>valeur</th>
<th>adresse</th>
<th>accessibility</th>
<th>statuts</th>
<th>à la une</th>
</tr>
</thead>

            <tbody>
				{% for location in location %}
					{# https://twig.symfony.com/doc/3.x/tags/for.html #}
					<tr>

<td>{{ location.id }}</td>
<td>{{ location.date|date("d/m/Y") }}</td>
<td>{{ location.titre }}</td>
<td>{{ location.categories }}</td>
<td>{{ location.image }}</td>
<td>{{ location.description }}</td>
<td>{{ location.valeur }}</td>
<td>{{ location.adresse }}</td>
<td>{{ location.accessibility }}</td>
<td>{{ location.statuts }}</td>
<td>{{ location.alaune }}</td>

					</tr>
				{% endfor %}}
			</tbody>
		</table>
        
	</div>
{% endblock %}
