{% extends 'base.html.twig' %}

{% block title %}
	Gestion des utilisateurs !
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>
			Bienvenu(e) dans la page de la gestion de mes utilisateurs ! ✅</h1>
<br/><br/>
<hr/>
<br/>
<div id="menu" class="menu">

<ul>
<li> <a href="{{ path('new_utilisateur') }}">Veuillez ajouter un nouveau utilisateur !</a></li> 

</ul>


</div>
		<table class="table">
			<tbody>
				{% for user in user %}
					{# https://twig.symfony.com/doc/3.x/tags/for.html #}
					<tr>

<td>{{ user.id }}</td>
<td>{{ user.nom }}</td>
<td>{{ user.prenom }}</td>
<td>{{ user.datedenaissance }}</td>
<td>{{ user.adresse }}</td>
<td>{{ user.login }}</td>
<td>{{ user.password }}</td>
<td>{{ user.photo }}</td>
<td>{{ user.email }}</td>
<td>{{ user.role }}</td>
<td>{{ user.locataire }}</td>
<td>{{ user.proprietaire }}</td>
<td>{{ user.gestionnaire }}</td>
{% else %}
					<tr>
						<td colspan="5">Vous n'avez pas d'enregistrement!</td>
						<td></td>
					</tr>
				{% endfor %}}
			</tbody>
		</table>
        
	</div>
{% endblock %}
    