{% extends 'base.html.twig' %}

{% block body %}

    
{{ form_start(formArticle) }}

Titre: {{ form_widget(formArticle.titre) }}<br>
Résumé: {{ form_widget(formArticle.resume) }} <br>
Status: {{ form_widget(formArticle.status) }} <br>
Contenu: {{ form_widget(formArticle.contenu) }} <br>
Date: {{ form_widget(formArticle.date) }} <br>
Image: {{ form_widget(formArticle.image) }} <br>


<button type="submit" class="btn btn-success">envoyer</button>


      
    {{ form_end(formArticle) }}
  {% endblock %}

